.lightBg {
  background: $transparent-bg;
}

#daysNav {
  display: grid;
  grid-auto-flow: column;
  margin-top: 30px;
  justify-content: space-between;
  .navitem {
    margin: 0;
    padding: 10px;
    text-align: center;
    background: $transparent-bg;
    border-radius: 20px;
    cursor: pointer;
    @include font-sm;
  }
}

main {
  margin-top: 30px;
  border-radius: 30px;
  .activityAvg {
    background: $transparent-bg;
    border-radius: 30px;
    padding: 25px 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
  }
  .activityData {
    background: $transparent-bg;
    border-radius: 30px;
    padding: 25px 20px;
    margin-top: 15px;
    display: grid;
    grid-auto-flow: column;
  }
  .iconContainer {
  }
  .activityContent {
    color: $white;
  }
  h3 {
    @include font-md;
  }
  p {
    @include font-sm;
    margin-top: 5px;
  }
  h2 {
    @include font-md;
    font-size: 38px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .activityContent2 {
    h2 {
      margin: 0 !important;
    }
  }
}
