.lightBg {
  background: $transparent-bg;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#daysNav {
  display: grid;
  grid-auto-flow: column;
  margin: 30px 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  .navitem {
    margin: 0;
    padding: 10px;
    width: 60px;
    text-align: center;
    background: $transparent-bg;
    border-radius: 20px;
    cursor: pointer;
    @include font-sm;
    transition: all 0.2s;
  }
}
.screen-1 {
  background: transparent;
}
.screen-2 {
  background: $white;
}
main {
  margin-top: 30px;
  border-radius: 30px;
  transition: all 0.5s;
  opacity: 0;
  .activityAvg {
    background: $transparent-bg;
    border-radius: 30px;
    padding: 25px 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
    background: $transparent-bg;
  }
  .activityData {
    background: $transparent-bg;
    border-radius: 30px;
    padding: 25px 20px;
    margin-top: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 2fr;
  }
  .activityContent {
    color: $white;
  }
  h3 {
    @include font-md;
  }
  p {
    @include font-sm;
    margin-top: 5px;
    min-width: 120px;
  }
  h2 {
    @include font-md;
    font-size: 38px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .activityContent1 {
    text-align: left;
  }
  .activityContent2 {
    h2 {
      margin: 0 !important;
      text-align: right;
    }
  }

  // Screen two components
  .screen2-s1 {
    padding-top: 40px;
    .circle {
      width: 231px;
      height: 231px;
      border-radius: 50%;
      border: 8px solid $mediumgreen;
      margin: 0 auto;
    }
    .iconWrap {
      background: $mediumgreen;
      opacity: 0.25;
    }
    .circle p {
      text-align: center;
      margin-top: 6px;
      font-size: 20px;
      color: black;
    }
    .circle h2 {
      text-align: center;
      font-size: 48px;
      margin-top: 5px;
      color: black;
    }
    .iconWrap {
      margin-top: 28px;
      margin-left: auto;
      margin-right: auto;
    }
    .message {
      h2 {
        text-align: center;
        font-size: 40px;
        margin-top: 0;
        color: black;
      }
      p {
        text-align: center;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 0;
        color: black;
      }
    }
  }
  .screen2-s2 {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: center;
    margin-top: 74px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5px;
    padding-bottom: 30px;
  }
  .screen2-s2 div {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .screen2-s2 div:last-child {
    border-right: 0;
  }
  .screen2-s2 p {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 5px;
    color: #b3b3b3;
  }
  .screen2-s2 h2 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 4px;
    color: $mediumgreen;
  }
}
